{% extends '_base.html' %}

{% block base_nav %}
    <li class="nav-item">
        <a href="{% url 'pages:home' %}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todos:list' %}" class="nav-link active">Todo App</a>
    </li>
{% endblock %}

{% block extra_nav %}
    <li class="nav-item">
        <a href="{% url 'todos:new_todo' %}" class="nav-link">New Todo</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todos:update_todo' pk=todo.pk %}" class="nav-link">Update Todo</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todos:new_subtask' parent_pk=todo.pk %}" class="nav-link">New Subtask</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'todos:delete_todo' pk=todo.pk %}" class="nav-link">Delete Todo</a>
    </li>
{% endblock %}

{% block content %}
    <h2>Todo Detail</h2>
    {% if todo.parent_task %}
        <hr />
        <p>Parent Todo: <a href="{% url "todos:detail" pk=todo.parent_task.pk %}">{{ todo.parent_task }}</a></p>
        <p>Parent Status: {{ todo.parent_task.complete|yesno:"Complete, Not Complete" }}</p>
    {% endif %}
    <hr />
    <p>Todo: {{ todo.text }}</p>
    <p>Status: {{ todo.complete|yesno:"Is Complete, Not Complete" }}</p>
    <p>Created: {{ todo.created_timestamp }}</p>
    <p>Last Modified: {{ todo.modified_timestamp }}</p>
    {% if todo.subtasks.all %}
        <hr />
        <h4>Subtasks</h4>
    {% endif %}
    {% for subtask in todo.subtasks.all %}
        <p><a href="{% url "todos:detail" pk=subtask.pk %}">{{ subtask }}</a>: {{ subtask.complete|yesno:"Complete, Not Complete" }}</p>
    {% endfor %}
{% endblock %}